// career section
.career {
  .container {
    width: 100%;
    padding: 60px 90px;
    .content {
      h2 {
        margin-bottom: 50px;
      }
      .row {
        display: flex;

        .timeline {
          position: relative;
          margin-right: 100px;

          .line {
            width: 1px;
            height: 550px;
            border: 1px solid var(--text-color);
            position: absolute;
            left: 7px;
            top: 4px;
            z-index: -1;
          }

          .activities {
            .activity {
              display: flex;
              gap: 30px;
            }

            .activity:nth-child(1) {
              margin-bottom: 30px;
            }

            .activity:nth-child(2) {
              margin-bottom: 300px;
            }
          }
        }
        .textbox {
          width: 100%;
          height: 100%;
          padding: 30px;
          border: 1px solid var(--text-color);
        }
      }
    }
  }

  @media (max-width: 992px) {
    .container {
      padding: 20px;
      .content {
        h2 {
          margin-bottom: 30px;
        }
        .row {
          flex-direction: column;
          gap: 20px;
          .timeline {
            width: 100%;
            .line {
              width: 100%;
              height: 1px;
              top: 10px;
              left: 0px;
            }
            .activities {
              display: flex;
              justify-content: space-between;
              gap: 20px;

              .activity {
                width: 200px;
                flex-direction: column;
                gap: 10px;
              }
              .activity:nth-child(1) {
                margin-bottom: 10px;
              }

              .activity:nth-child(2) {
                margin-bottom: 0px;
              }
            }
          }
          .textbox {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
