.card {
  width: 300px;

  .photo {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .title {
    .detail {
      display: none;
      opacity: 0;
      transition: opacity 0.5s ease, display 0s 0.5s;
    }

    & .open {
      display: block;
      color: red;
      opacity: 1;
      transition: opacity 0.5s ease;
    }
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}
