@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #f5f7f8;
  --secondary-color: #efce49;
  --tertiary-color: #4d5d57;
  --text-color: #45474b;

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
